.bg-body {
    background-image: url('img/bg1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}


.caro-intro {
  background-image: url('img/tiktoklogo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.carousel-item img {
  width: 500px;
  height: 280px;
  border-radius: 5%;
  object-fit: cover;
}


@media screen and (max-width: 768px) {
  .carousel-item img {
    width: 300px;
    height: 160px;
    border-radius: 5%;
    object-fit: cover;
  }
  .caro-intro {
    background-image: url('img/tiktoklogo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

@media screen and (max-width: 576px) {
  .carousel-item img {
    max-height: 200px;
  }
  .caro-intro {
    background-image: url('img/tiktoklogo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .carousel-item img {
    width: 300px;
    height: 160px;
    border-radius: 5%;
    object-fit: cover;
  }
  
}



@media screen and (max-width: 768px) {
    .bg-body {
      background-size: auto 100%;
      background-position: center top;
      background-size: cover;
    }
  }
  

  /* Mobile view styles */
@media screen and (max-width: 576px) {
    .container-fluid {
      max-width: 100%;
      padding: 0;
    }
    img {
      max-width: 100%;
      height: auto;
    }
    button {
      font-size: 16px;
      padding: 8px 16px;
    }

    .support{
     padding: 0 auto;
    }
  
    .link-button {
      margin-left: 100px;
    }

    .id-affiliate li{
      padding-top: 10px;
    }

    
      
  
  }

  
  
  .link-button {
    margin-left: 20px;
  }



  .container-fluid {
    padding: 0;
  }
  
  .image-wrapper {
    position: relative;
  }
  
  .image-wrapper img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  .image-wrapper button {
    position: absolute;
    bottom: -20px; /* adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
  }
  

  .hero-intro-message {
    padding-left: 10px;
    font-size: 16px;
  }

  .hero-image {
    width: 70%;
    padding-bottom: 0;
  }

  .support{
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .id-affiliate {
    font-size: 12px;
  }

  .id-affiliate a{
    color: #333;
    list-style-type: none;
  }

  .tiktok-logo {
    width: 30px;
    margin-left: 5px;
  }
