.bg-body {
    background-image: url('img/bg1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}


.caro-intro {
  background-image: url('img/tiktoklogo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  filter: drop-shadow(inset 2px 2px 5px rgba(0, 0, 0, 0.3));
}

.carousel-item img {
  width: 500px;
  height: 280px;
  border-radius: 5%;
  object-fit: cover;
  filter: drop-shadow(0 0 20px #333);
}


@media screen and (max-width: 768px) {
  .carousel-item img {
    width: 300px;
    height: 160px;
    border-radius: 5%;
    object-fit: cover;
  }
  .caro-intro {
    background-image: url('img/tiktoklogo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

@media screen and (max-width: 576px) {
  .carousel-item img {
    max-height: 200px;
  }
  .caro-intro {
    background-image: url('img/tiktoklogo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .carousel-item img {
    width: 300px;
    height: 160px;
    border-radius: 5%;
    object-fit: cover;
  }
  
}



@media screen and (max-width: 768px) {
    /* .bg-body {
      background-size: auto 100%;
      background-position: center top;
      background-size: cover;
      background-repeat: no-repeat;
    } */

    .bg-body {
      background-image: url('img/bg1.jpg');
      background-size: cover;
      background-repeat: no-repeat;
  }
  
  }
  

  /* Mobile view styles */
@media screen and (max-width: 576px) {
    .container-fluid {
      max-width: 100%;
      padding: 0;
    }
    img {
      max-width: 100%;
      height: auto;
    }
    button {
      font-size: 16px;
      padding: 8px 16px;
    }

    .support{
     padding: 0 auto;
    }
  
    .link-button {
      margin-left: 100px;
    }

    .id-affiliate li{
      padding-top: 10px;
    }

    .ul-two li{
      color: #fff;
     
    }
      
    .ul-two a{
     text-decoration: none;
     
    }
    .ul-one a{
      text-decoration: none;
    }
      
  
  }

  
  
  .link-button {
    margin-left: 20px;
  }



  .container-fluid {
    padding: 0;
  }
  
  .image-wrapper {
    position: relative;
  }
  
  .image-wrapper img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  .image-wrapper button {
    position: absolute;
    bottom: -20px; /* adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
  }
  

  .hero-intro-message {
    padding-left: 10px;
    font-size: 16px;
  }

  .hero-image {
    width: 70%;
    padding-bottom: 0;
  }


  .support-container {
    margin-left: 5px;
    
  }
  .support{
    justify-content: start;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .id-affiliate {
    font-size: 12px;
  }

  .id-affiliate a{
    color: #333;
    list-style-type: none;
  }

  .tiktok-logo {
    width: 30px;
    margin-left: 5px;
  }

  .tes-intro {
    font-size: 20px;
    justify-content: center;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #333; 
    font-weight: 500;
    text-align: start;
  }

  .tes-intro-h5{
    padding-left: 10px;
  }

  @media (max-width: 768px) {
    
  .tes-intro {
    font-size: 14px;
    justify-content: center;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: black; 
    font-weight: 500;
    text-align: start;
  }

  .tes-container {
    padding-left: 10px;
  }

  }

  .tes-container {
    padding-left: 10px;
  }


  /*testimonials*/
  .video-container {
    position: relative;
    width: 100%;
    max-width: 300px;
    padding: 0 auto;
  }
  
  .video-container video {
    width: 100%;
    height: 60%;
    object-fit: contain;
    padding: 0 auto;
  }
  
  .statement-faq {
    margin-right: 0;
    padding: 0 auto;
    justify-content: center;
    filter:drop-shadow(0 0 20px #333);
    color: #333;
    font-weight: 500;
  }



  @media (max-width: 767px) {
    .video-container {
      position: relative;
      width: 100%;
      max-width: 200px;
      margin: 0 auto;
      padding-bottom: 0;
    }
    
    .video-container video {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    .statement {
      font-size: 14px;
      font-weight: 500;
      text-align: center;
      margin-left: 10px;
      margin-right: 10px;
      padding-top: 0;
      justify-content: center;
      color: #333;
      background-color: #fff;
      filter:drop-shadow(0 0 40px #333);
    }

    .video-container-faq video{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    .video-container-faq {
      position: relative;
      width: 100%;
      max-width: 200px;
      margin: 0 auto;
    }
    
    .statement-faq {
      margin-right: 400px;
      padding-left: 0;
      padding-bottom: 0;
      margin-top: 170px;
      justify-content: center;
      filter:drop-shadow(0 0 20px #333);
      color: #333;
      font-weight: 500;
      background-color: #fff;
      text-align: center;
    }
    .hr {
      font-weight: 500;
      font-size: 16px;
      color: #333;
      justify-content: start;
      background-color: #fff;
    
    }
    .hr li {
    margin-bottom: 5px;
    font-weight: 350;
    }
    .disclaimer small{
      font-weight: 600;
      justify-content: center;
      margin: 0 auto;
      padding: 0 auto;
    }

  
  }

  .hr {
    font-weight: 350;
  }

  .disclaimer {
    font-weight: 300;
    margin-left: 10px;
  }

 .tutorial-link  {
  text-align: start;
  margin: 0 auto;
  color: #fff;
 }

 .tutorial-link-p {
 
  color: #fff;
 }


@media ( max-width: 767px) {
  .tutorial-link  {
    text-align: start;
    margin: 0 auto;
    color: #333;
   }

   .tutorial-link-p  {
   
    color: #333;
   }

   .message {
    text-align: start;
    padding : 0 auto;
    margin: 0 auto;
    color: #fff;
    padding-bottom: 30px;
   }
}
.message {
  text-align: start;
  padding : 0 auto;
  margin: 0 auto;
  color: black;
  padding-bottom: 30px;
 }

 .navbar {
  margin: 0 auto;
  padding: 0 auto;
  font-weight: 500;
  background-color: coral;
  justify-content: center;
 }